# CONFIGURAÇÃO DO BANCO DE DADOS
DB_HOST=SEU_DB_HOST_AQUI
DB_PORT=SUA_PORT_AQUI
DB_NAME=SEU_DB_NAME_AQUI
DB_USER=SEU_DB_USER_AQUI
DB_PASSWORD=SUA_SENHA_AQUI
DB_DIALECT=SEU_DIALECT_AQUI
DATABASE_URL=SUA_URL_BANCO_DE_DADOS ### CASO USE UM BANCO NA NUVEM ###